h1 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
h4 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
button {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: orange;
}
body {
  background-color: slategray;
  background-image: url("/things/back.png");
}

